Task(1) : To convert kilometers to miles

In [10]:
def km_miles(km):
    miles = 0.62 * km
    return 'Miles --->' ,miles

km_miles(9)

('Miles --->', 5.58)

Task(2) : To convert Celsius to Fahrenheit

In [11]:
def celcius_to_fahrenheit(celcius):
    fahrenheit = (celcius*(9/5))+32
    return fahrenheit

celcius_to_fahrenheit(45)

113.0

Task(3) : To display calendar

In [12]:
import calendar as cl 
year = int(input('Enter year : '))
month = int(input('Enter month : '))

print(cl.month(year,month))

Enter year : 2021
Enter month : 2
   February 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

In [17]:
year = int(input('Enter year : '))
print(cl.calendar(year))

Enter year : 2021
                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

Task(4) : To solve quadratic equation

In [13]:
def quadratic(a,b,c):
    d = ((b**2) - (4*a*c)) ** 0.5
    x1 = (-b+d)/(2*a)
    x2 = (-b-d)/(2*a)
    return x1,x2

In [14]:
quadratic(1,2,3)

((-0.9999999999999999+1.4142135623730951j), (-1-1.4142135623730951j))

In [15]:
quadratic(1,2,1)

(-1.0, -1.0)

Task(5) : To swap two variables without temp variable

In [16]:
x = int(input('Enter 1st number : '))
y = int(input('Enter 2nd number : '))

print('Value of x & y before swapping is {} and {}'.format(x,y))

x , y = y , x

print('Value of x & y after swapping is {} and {}'.format(x,y))

Enter 1st number : -90
Enter 2nd number : 34
Value of x & y before swapping is -90 and 34
Value of x & y after swapping is 34 and -90